<p>
    <mat-toolbar color="warn">
      <mat-toolbar-row>
        <span>ABC NEWS</span>
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="navTologin()">
          <mat-icon><span class="material-icons-round"> account_circle </span></mat-icon>
        </button>
      </mat-toolbar-row>
  
      <mat-toolbar-row>
        <a mat-button routerLink='/'>Home</a>
        <a mat-button href="#news">News</a>
        <a mat-button href='#national' >National News</a>
        <a mat-button href="#stateNews" >State News</a> 
        <a mat-button href="#sports">Sports News</a>
        <a mat-button href="#health" >Health</a>
        <a mat-button href="#entertainment" >Entertainment</a>
        <span class="example-spacer"></span>
        <a mat-button routerLink='/admin'>Admin</a>
        
      </mat-toolbar-row>
    </mat-toolbar>
  </p>