.NationalNewsPage{
   
    .NationalImageBlock{
       
        margin: 0px 20px;

        h1{
            margin: 25px 0px
        }
        p{
            line-height: 28px;
            letter-spacing: 1px;
        }
        
         img{
            width: 100%;
        }
    }
}