.most-viwed{

    letter-spacing: 1px;
    line-height: 28px;
.mainPage1{

    margin-bottom: 30px;
    
    .mainHeadlines{
        width: 100%;
        height: 400px;
            .mat-card-image {
                height: 400px;
                width: 100%;
            }
    }
}

.cateHeading{
    margin: 30px;
    h1{
        font-weight: 700;
    }
}
}